!!! 5
html
  head
    title DemocracyOS
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css', rel='stylesheet', media='screen')
    //- http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400italic,400,700,600
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600", rel="stylesheet")
    link(href="font/social.css", rel='stylesheet', media='screen')
    link(href="build/build.css", rel='stylesheet', media='screen')
  
  body.not-loaded

    .preload.pulse

    .page.not-loaded

      header#site-header-primary.site-header
        .container
          nav.nav-left
            a(href="http://blog.democracyos.org") Blog
            a(href="#about") About
            a(href="http://kickstarter.com").kickstarter
              img(src="img/logo-kickstarter.png")
          
          h1.logo
            a(href="index.html")
              img(src="img/logo.png")
              span DemocracyOS
          
          nav.nav-right
            a(href="#profiles") Profiles
            a(href="#faq") FAQ
            a(href="#contact") Contact

      section.splash
        .container
          img(src="img/logo-change-the-tool.png");

        a(href="#about").skip-to-content 
          i 

      section#about.about 
        .about-left 
          h2 About Us
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.

          a(href="").kickstarter-link 
            span Kickstarter Project
            span.arrow
              img(src="img/icon-arrow-down-white.png")

        .about-right

      section#profiles.profiles
        h3 meet us 
        h2 Who we are
        .profiles-users

          .first-line
            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

          .second-line 

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2


            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2


          .third-line
            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2

            .hexagon.hexagon2
              .hexagon-in1
                .hexagon-in2


      section#faq.faq
        .container 
          h2 FAQ
          .question
            h3 Hello, world!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.


          .question
            h3 Hello, world!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.



      section#contact.contact 
        .container
          .row
            .contact-left.col-lg-6
              h2 Contact Us
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.

              address
                p 
                  i.flaticon.social.skype
                  span +54 11 4125-4410
                p
                  i.flaticon.social.google-plus
                  a(href="") info@democracyos.net
                p 
                  i.flaticon.social.twitter
                  a(href="") @democracyos

            .contact-right.col-lg-6
              iframe(height="517", allowTransparency="true", frameborder="0", scrolling="no", style="width:100%;border:none", src="http://mzeen.wufoo.com/embed/s7x2p7/")


      footer.site-footer 
        .container
          span.pull-left Copyright 
          .pull-right
            .share-links 
              iframe(src="https://platform.twitter.com/widgets/tweet_button.html?url=http://github.com/gravityonmars/nodejs-starter&via=gravityonmars&size=small&related=cristiandouce&count=none&text=Nodejs Starter - Simple project setup using industry's best practices and modules.", allowtransparency='true', frameborder='0', scrolling='0', width='60', height='20')

              iframe(src='http://ghbtns.com/github-btn.html?user=democracyos&repo=app&type=watch&count=true&size=small', allowtransparency='true', frameborder='0', scrolling='0', width='80', height='20')

              iframe(src='http://ghbtns.com/github-btn.html?user=democracyos&repo=app&type=fork&count=true&size=small', allowtransparency='true', frameborder='0', scrolling='0', width='80', height='20')


    script(src='build/build.js')
    script
      require("democracyos-website");


