!!! 5
html
  head
    title DemocracyOS
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css', rel='stylesheet', media='screen')
    //- http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400italic,400,700,600
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600", rel="stylesheet")
    link(href="main.css", rel='stylesheet', media='screen')
  
  body
    header.site-header
      .container
        nav.nav-left
          a(href="") Blog
          a(href="") About
          a(href="") Kickstarter
        
        h1.logo
          a(href="index.html", target="_blank")
            img(src="img/logo.png")
        
        nav.nav-right
          a(href="") Profiles
          a(href="") FAQ
          a(href="") Contact

    section.splash
      .container
        img(src="img/logo-change-the-tool.png");

      a(href="").skip-to-content Skip to content

    section.about 
      .about-left 
        h2 About Us
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.

        a(href="") Kickstarter Project
      .about-right

    section.profiles
      h3 meet us 
      h2 Who we are
      .profiles-users
        a(href="")
          span.username Ricardo Rauch 
          span.title 


    section.faq
      .container 
        h2 FAQ
        .question
          h3 Hello, world!
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.


        .question
          h3 Hello, world!
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.



    section.contact 
      .container
        .row
          .contact-left.col-lg-6
            h3 Contact Us
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.

    script(src='//code.jquery.com/jquery.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js')
    //- script(src='js/respond.js')
