!!! 5
html
  head
    title DemocracyOS
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css', rel='stylesheet', media='screen')
    //- http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400italic,400,700,600
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600", rel="stylesheet")
    link(href="font/social.css", rel='stylesheet', media='screen')
    link(href="font/solid.css", rel='stylesheet', media='screen')
    link(href="main.css", rel='stylesheet', media='screen')
    script(src="//code.jquery.com/jquery.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="index.js")


  body.not-loaded

    .preload.pulse

    .page.not-loaded

      header#site-header-primary.site-header

        .bg-grey
          .container

            h1.logo
              a(href="index.html")
                img(src="img/logo.png")
                span Democracy&#9679;OS

            nav
              .nav-left
                a(href="http://blog.democracyos.org") Blog
                a(href="#about") About
                a(href="http://kickstarter.com").kickstarter
                  img(src="img/logo-kickstarter.png")
              
    
              .nav-right
                a(href="#profiles").who-we-are who we are
                a(href="#faq") FAQ
                a(href="#contact") join us
                a(target="_blank", href="http://twitter.com/democracyos").twitter-header
                  i.flaticon.social.twitter

        .clearfix.triangle-container
          .triangle

      section.splash
        .clearfix.triangle-container
          .triangle
        .carousel.slide.carousel-fade
          .item.slide-item.slide-item-1.active
          .item.slide-item.slide-item-2
          .item.slide-item.slide-item-3
          .item.slide-item.slide-item-4
          .item.slide-item.slide-item-5
          .item.slide-item.slide-item-6
          .item.slide-item.slide-item-7
          .item.slide-item.slide-item-8
          .item.slide-item.slide-item-9
          .item.slide-item.slide-item-10




        a(href="#about").skip-to-content 
          i 

      section#about.about.section
        .about-left
          p What brings together a diverse bunch of political scientists, coders, entrepreneurs, designers and social scientists? We all believe in innovating in the political system and we’ve decided to do something about it. 
          p A question keeps us all awake at night: How can we open democracy’s bandwidth? We are convinced that internet has completely changed the way we communicate, the way we create, the way we share and collaborate, the way we produce culture, the way we transfer value... But Democracy is still the same! 
          h4 ERROR 404: DEMOCRACY NOT FOUND
          p That’s the global answer to this clash between a system that doesn’t represent us anymore and citizens more and more used to representing themselves and structure Peer2Peer.... 
          p What can we do about it?  We can create new instances of citizen activism and participation through technology. Our mission is to help design Democracy’s new Operating System. 
          p Ambitious? well, yes. So what? We aim for the stars but are starting with one step: a software imagined for parliaments and other collective decision-making institutions that will allow citizens to get informed, join the conversation and vote how they want their representatives to vote. 
          p Let’s hack the political system so it finally leaves the analogical age behind and joins the rest of us in the digital era. 
          h4 CHANGE THE TOOL! 

          a(href="").kickstarter-link 
            span Kickstarter Project
            span.arrow
              img(src="img/icon-arrow-down-white.png")

        .about-right

      section#profiles.profiles.section
        h2 Who we are
        h4 a group of enthusiasts, young entrepreneurs, from developers to political scientists
        .vertical-line

        .profiles-users
          .first-line
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/AlexCDG')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Alejandro De Grazia 
                  span
                    i @
                    b AlexCDG
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3747856374/fa7793ac7f58bb2564a7875ca3f2b47a_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/NadiaCeache')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span NadiaCeache
                  span
                    i @
                    b NadiaCeache
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3330653158/337b2c57f84ca7afeb2bd8fe84c232f9_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/oscarguindzberg')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Oscar Guindzberg
                  span
                    i @
                    b oscarguindzberg
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000338938983/ed719512281ecef3d7ce484bb2f60f72_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/Majo_hc')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span M a J o
                  span
                    i @
                    b Majo_hc
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000341822241/c0f2eb083b8afb7ddedb8eecd3e260c1_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/carlassarace')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span cecilia carlassara
                  span
                    i @
                    b carlassarace
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000380032226/1633f359829217fd1dc3b34a1106e756_bigger.jpeg);')
            
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/apintofplain')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Luke Mohnen
                  span
                    i @
                    b apintofplain
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000408311715/9c7d0dd15cdcb37eb04fdfa7c7457f9a_reasonably_small.jpeg);')
            
          .second-line

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/felipemuni')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Felipe Muñoz
                  span
                    i @
                    b felipemuni
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3410519616/1210c604a6d0469a444e476d2c81815f_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/gerotutu')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Gerónimo Tutusaus
                  span
                    i @
                    b gerotutu
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2311906686/p8S31MCS_normal);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/asewrjugin')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Alejandro Sewrjugin
                  span
                    i @
                    b asewrjugin
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000337106335/f02018cfbf03d1d04d81c272efaff574_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/alan_reid')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Alan Reid
                  span
                    i @
                    b alan_reid
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000039995365/a7e999e11b525a7d68d765567ce39ad0_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/piamancini')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span pia mancini
                  span
                    i @
                    b piamancini
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000336926624/234a33f1ecffd241835b141aca9a3100_bigger.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/cristiandouce')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Cristian Douce
                  span
                    i @
                    b cristiandouce
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2866908502/4eb6cb01200c9fb5d55d10ad3a7790c5_reasonably_small.jpeg);')


            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/tantalentejuela')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span tantalentejuela
                  span
                    i @
                    b tantalentejuela
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3359361758/4368e07d1b934419d1434f9c69124122_reasonably_small.png);')


          .second-line

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/gvilarino')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Guido Vilariño
                  span
                    i @
                    b gvilarino
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1201114878/avatarguido_reasonably_small.jpg);')


            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/Seba_Inthebox')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Sebastian Fernandez
                  span
                    i @
                    b Seba_Inthebox
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000342798104/b542a458a14607b9c4724650161384cd_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/mgalanternik')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Martin Galanternik
                  span
                    i @
                    b mgalanternik
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000340583721/55ffaca9311a96dce6a350a6088f6f48_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/marianolopata')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Mariano Lopata
                  span
                    i @
                    b marianolopata
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000341484627/00fa7f4167fa04e0c408dcba2b6e0e36_bigger.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/nmaschwitz')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Nicolás Maschwitz
                  span
                    i @
                    b nmaschwitz
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/672825052/IMG_2979_reasonably_small.JPG);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/bastianhell')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Bastian Hell
                  span
                    i @
                    b bastianhell
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1288379513/FairyTalefinal_reasonably_small.jpg);')
   
          .second-line

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/nickypeisa')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span nicole
                  span
                    i @
                    b nickypeisa
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3783128837/764e1c7aa0127826e51322bcf75eeca6_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/mariasolgs')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Sol
                  span
                    i @
                    b mariasolgs
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3464434344/134b86864844f3cd4151bf6500ddc76b_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/Pablo_Charnas')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Pablo Charnas
                  span
                    i @
                    b Pablo_Charnas
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3686036241/45de30f4e2bf02fe8ebc1d34c3f95c01_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/pipirubeis')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Sol Rubeis
                  span
                    i @
                    b pipirubeis
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000351104292/841b0dbe84cc8fd372259138488edad9_bigger.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/gonza_arguello')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span gonza argツello
                  span
                    i @
                    b gonza_arguello
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000337159788/b1b74edf7811a8cd241e745a82dc32c0_bigger.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/mffc76')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Florencia Cánepa
                  span
                    i @
                    b mffc76
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1939055556/ata_copia_reasonably_small.jpg);')


            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/mgiorgetti')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Martin Giorgetti
                  span
                    i @
                    b mgiorgetti
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1146215924/Foto_personal2_reasonably_small.jpg);')
           

          .second-line

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/Yugoslava')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Agustina Comelli
                  span
                    i @
                    b Yugoslava
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/393116798/tw_reasonably_small.JPG);')


            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/nautasudamerica')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Nautas.org
                  span
                    i @
                    b nautasudamerica
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2293901189/nautas_reasonably_small.jpg);')


            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/ebrenman')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Esteban Brenman
                  span
                    i @
                    b ebrenman
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2717903918/2e9acfade7ce4cbf10fa7d5250a9a72f_bigger.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/ultraklon')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Pablo Moyano
                  span
                    i @
                    b ultraklon
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2638813709/60c8a6cefcbd6dcac85c2aed9308a9d1_reasonably_small.png);')

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/JavierAjvi')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Javier Francese
                  span
                    i @
                    b JavierAjvi
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/391425493/DSC06498_reasonably_small.JPG);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/CarlosMarch')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Carlos March
                  span
                    i @
                    b CarlosMarch
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1724951040/caricatura_reasonably_small.jpg);')

          .second-line

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/JuicyMinerva')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Juicy Minerva
                  span
                    i @
                    b JuicyMinerva
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000339966511/a8fff0cdde442697b21f3dcfe5b7754d_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/lulimbo')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span lulo
                  span
                    i @
                    b lulimbo
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3302933588/40b0d106e630700bcf447b616ed5370a_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/gravityonmars')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Ricardo Rauch
                  span
                    i @
                    b gravityonmars
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2583335118/yts2np89ifncbi0j3vgm_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/marinamendez')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Mar Mendez
                  span
                    i @
                    b marinamendez
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000393052714/a6a81df2f04626f0a1b254da98f52a6d_reasonably_small.jpeg);')


            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/ValenNobile')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Valentina Nobile
                  span
                    i @
                    b ValenNobile
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000340548649/1104d8a54d15477548a8625dde307b45_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/palabrasdehumo')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span santiago scanlan
                  span
                    i @
                    b palabrasdehumo
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1062103432/20090203232129-fuego-y-humo_reasonably_small.jpg);')
           

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/TacchellaSergio')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Sergio Tacchella
                  span
                    i @
                    b TacchellaSergio
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000337710401/d4e67fafde990f0eb401130cab019706_reasonably_small.png);')

          .second-line

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/annagramma')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Annagramma
                  span
                    i @
                    b annagramma
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3499987710/4db50c7efcb64248afdd3c8c5428f0c1_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/GAastt')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Gastón Silberman
                  span
                    i @
                    b GAastt
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000336088462/7d7ceb61dd98cabe4452e00150dbce6c_reasonably_small.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/gonluce')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Gonzalo Lucero
                  span
                    i @
                    b gonluce
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2176942609/375606_3550610406065_1296755049_3537403_2080351417_n_reasonably_small.jpg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/donpowa')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Don Powa
                  span
                    i @
                    b donpowa
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3425002820/257f83e762e5a7ae012dee23486ea396_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/lucasworsel')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span lucasworcel
                  span
                    i @
                    b lucasworsel
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000364080321/25a61fc461f8adcdf4e16e9e9902fa99_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/tomasinsua')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Tomás Insua
                  span
                    i @
                    b tomasinsua
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000337051221/8b24d09842a5db43e1fa1137b470d03b_bigger.png);')

          .second-line

            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/miguelsantosw')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Miguel Santos
                  span
                    i @
                    b miguelsantosw
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2601024927/84o6yk9001ischhqschy_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/agustinfrizzera')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Agustin Frizzera
                  span
                    i @
                    b agustinfrizzera
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1817645384/af_reasonably_small.jpg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/santisiri')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Santiago Siri
                  span
                    i @
                    b santisiri
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000341822376/c9daf3399ae17584407ef691f7adb27b_bigger.png);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/en256bits')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Ego Encriptado
                  span
                    i @
                    b en256bits
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2491385296/1ziyexobwwlg2zqblr5a_reasonably_small.jpeg);')
            a.hexagon.hexagon2(target='_blank', href='http://twitter.com/juanib82')
              .hexagon-in1.hexagon-hover
                .hexagon-in2
                  span Juan Ignacio
                  span
                    i @
                    b juanib82
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000337597699/2730293c37182b64d956901b9c1b7874_bigger.png);')




      section#faq.faq.section
        .container 
          .question
            .vertical-line
            h2 Hello, world!
            .vertical-line
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.


          .question
            .vertical-line
            h2 Hello, world!
            .vertical-line
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.



      section#contact.contact.section
        .container
          .row
            .contact-left.col-md-6
              h2 Join Us
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.

              address
                p 
                  i.flaticon.solid.phone
                  span +54 11 4125-4410
                p
                  i.flaticon.solid.mail
                  a(href="") join@democracyos.net
                p 
                  i.flaticon.social.twitter
                  a(href="") @DemocracyOS

            .contact-right.col-md-6
              iframe(height="417", allowTransparency="true", frameborder="0", scrolling="no", style="width:100%;border:none", src="http://mzeen.wufoo.com/embed/s7x2p7/")


      footer.site-footer 
        .container
          span.pull-left Copyright 
          .pull-right
        

