!!! 5
html
  head
    title DemocracyOS
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css', rel='stylesheet', media='screen')
    //- http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400italic,400,700,600
    link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600", rel="stylesheet")
    link(href="font/social.css", rel='stylesheet', media='screen')
    link(href="font/solid.css", rel='stylesheet', media='screen')
    link(href="main.css", rel='stylesheet', media='screen')
    script(src="//code.jquery.com/jquery.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(src="index.js")


  body.not-loaded

    .preload.pulse

    .page.not-loaded

      header#site-header-primary.site-header

        .bg-grey
          .container

            h1.logo
              a(href="index.html")
                img(src="img/logo.png")
                span Democracy&#9679;OS

            nav
              .nav-left
                a(href="http://blog.democracyos.org") Blog
                a(href="#about") About
                a(href="http://kickstarter.com").kickstarter
                  img(src="img/logo-kickstarter.png")
              
    
              .nav-right
                a(href="#profiles").who-we-are who we are
                a(href="#faq") FAQ
                a(href="#contact") join us
                a(target="_blank", href="http://twitter.com/democracyos").twitter-header
                  i.flaticon.social.twitter

        .clearfix.triangle-container
          .triangle

      section.splash
        .clearfix.triangle-container
          .triangle
        .carousel.slide.carousel-fade
          .item.slide-item.slide-item-1.active
          .item.slide-item.slide-item-2
          .item.slide-item.slide-item-3
          .item.slide-item.slide-item-4
          .item.slide-item.slide-item-5
          .item.slide-item.slide-item-6
          .item.slide-item.slide-item-7
          .item.slide-item.slide-item-8
          .item.slide-item.slide-item-9
          .item.slide-item.slide-item-10




        a(href="#about").skip-to-content 
          i 

      section#about.about.section
        .about-left
          p What brings together a diverse bunch of political scientists, coders, entrepreneurs, designers and social scientists? We all believe in innovating in the political system and we’ve decided to do something about it. 
          p A question keeps us all awake at night: How can we open democracy’s bandwidth? We are convinced that internet has completely changed the way we communicate, the way we create, the way we share and collaborate, the way we produce culture, the way we transfer value... But Democracy is still the same! 
          h4 ERROR 404: DEMOCRACY NOT FOUND
          p That’s the global answer to this clash between a system that doesn’t represent us anymore and citizens more and more used to representing themselves and structure Peer2Peer.... 
          p What can we do about it?  We can create new instances of citizen activism and participation through technology. Our mission is to help design Democracy’s new Operating System. 
          p Ambitious? well, yes. So what? We aim for the stars but are starting with one step: a software imagined for parliaments and other collective decision-making institutions that will allow citizens to get informed, join the conversation and vote how they want their representatives to vote. 
          p Let’s hack the political system so it finally leaves the analogical age behind and joins the rest of us in the digital era. 
          h4 CHANGE THE TOOL! 

          a(href="").kickstarter-link 
            span Kickstarter Project
            span.arrow
              img(src="img/icon-arrow-down-white.png")

        .about-right

      section#profiles.profiles.section
        h2 Who we are
        h4 a group of enthusiasts, young entrepreneurs, from developers to political scientists
        .vertical-line

        .profiles-users

          .first-line
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Carlos March
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1724951040/caricatura_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Guido Vilariño
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1201114878/avatarguido_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Sol
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3464434344/134b86864844f3cd4151bf6500ddc76b_reasonably_small.jpeg);')
          

            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Gerónimo Tutusaus
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2311906686/p8S31MCS_normal);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Ricardo Rauch
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2583335118/yts2np89ifncbi0j3vgm_reasonably_small.jpeg);')

          .second-line

            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Cristian Douce
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2866908502/4eb6cb01200c9fb5d55d10ad3a7790c5_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span lucasworcel
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000183777052/575c6798576b9707c3eb11bfc7eddf3e_reasonably_small.png);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Felipe Muñoz
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3410519616/1210c604a6d0469a444e476d2c81815f_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Sebastian Fernandez
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000124102462/213f93badf98de1bb4a7b620fe2f30ce_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Alejandro Sewrjugin
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1065360871/Ale-Imagen-SES_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Esteban Brenman
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2717903918/2e9acfade7ce4cbf10fa7d5250a9a72f_reasonably_small.jpeg);')

          .third-line
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Mariano Lopata
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3490878270/1396a7879011f1b3d400b5eac3aee766_reasonably_small.jpeg);')
            
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Sol Rubeis
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000107158321/ad38212e7b2ddb3c4512bfcf42bc7f88_reasonably_small.jpeg);')
            
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Florencia Cánepa
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1939055556/ata_copia_reasonably_small.jpg);')
            
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Valentina Nobile
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1522453068/IMG_7727_reasonably_small.JPG);')
            
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Annagramma
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3499987710/4db50c7efcb64248afdd3c8c5428f0c1_reasonably_small.jpeg);')


          .second-line

            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Gonzalo Lucero
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2176942609/375606_3550610406065_1296755049_3537403_2080351417_n_reasonably_small.jpg);')

          
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Juicy Minerva
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2873507293/2c2f98ea155d01e56906778c760e049b_reasonably_small.png);')


            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span nicole
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3783128837/764e1c7aa0127826e51322bcf75eeca6_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Nicolás Maschwitz
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/672825052/IMG_2979_reasonably_small.JPG);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Agustina Comelli
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/393116798/tw_reasonably_small.JPG);')

          .third-line

            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span tantalentejuela
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3359361758/4368e07d1b934419d1434f9c69124122_reasonably_small.png);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Sergio Tacchella
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000082928784/8ec0ff3990efcbbf8ffb15c06ae30db5_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Alan Reid
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000039995365/a7e999e11b525a7d68d765567ce39ad0_reasonably_small.png);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Pablo Moyano
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2638813709/60c8a6cefcbd6dcac85c2aed9308a9d1_reasonably_small.png);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span gonza argツello
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1226574726/Gonza-banio_2_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Alejandro De Grazia 
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3747856374/fa7793ac7f58bb2564a7875ca3f2b47a_reasonably_small.png);')
            
          .second-line
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Luke Mohnen
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000241985194/a53025ab1bd0fbee577f73d2d46044ca_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span lulo
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3302933588/40b0d106e630700bcf447b616ed5370a_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Mar Mendez
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000241491188/acb4fb8e5eededae9e2d4f8cfc15ff9a_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Gastón Silberman
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2849055942/6def0b445e1136548a76fae2fd7fd6ba_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Bastian Hell
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1288379513/FairyTalefinal_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Juan Ignacio
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2796118274/8b459ecefbdf0a18ba75ceeec5886064_reasonably_small.png);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Agustin Frizzera
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1817645384/af_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Tomás Insua
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3094966624/ab38fa0841a63c2c1e92c5efda6fea6f_reasonably_small.png);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Pablo Charnas
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3686036241/45de30f4e2bf02fe8ebc1d34c3f95c01_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Martin Galanternik
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/378800000172075169/502818ba65c9d80572e0fd9470fcb7fc_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span pia mancini
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2929777312/f7b77beb1804d76922be519c8be8eb17_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Ego Encriptado
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2491385296/1ziyexobwwlg2zqblr5a_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span NadiaCeache
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3330653158/337b2c57f84ca7afeb2bd8fe84c232f9_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Don Powa
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3425002820/257f83e762e5a7ae012dee23486ea396_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Nautas.org
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2293901189/nautas_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Miguel Santos
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/2601024927/84o6yk9001ischhqschy_reasonably_small.jpeg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Martin Giorgetti
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1146215924/Foto_personal2_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span santiago scanlan
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/1062103432/20090203232129-fuego-y-humo_reasonably_small.jpg);')
            .hexagon.hexagon2
              .hexagon-in1.hexagon-hover
                .hexagon-in2.hexagon-hover
                  span Santiago Siri
              .hexagon-in1
                .hexagon-in2(style='background-image: url(http://a0.twimg.com/profile_images/3579418265/d5994d07aa630dba45b7c7fe6acea9dc_reasonably_small.jpeg);')





      section#faq.faq.section
        .container 
          .question
            .vertical-line
            h2 Hello, world!
            .vertical-line
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.


          .question
            .vertical-line
            h2 Hello, world!
            .vertical-line
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.



      section#contact.contact.section
        .container
          .row
            .contact-left.col-md-6
              h2 Join Us
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu mattis mauris. Vestibulum cursus massa in lectus varius posuere. Nullam id semper diam. Donec quis cursus augue. Morbi a aliquam enim. Phasellus ut lobortis quam. Donec vestibulum justo orci, quis vehicula leo vehicula venenatis. Nulla interdum turpis eu lacus venenatis venenatis. Aenean vel lorem lorem.

              address
                p 
                  i.flaticon.solid.phone
                  span +54 11 4125-4410
                p
                  i.flaticon.solid.mail
                  a(href="") join@democracyos.net
                p 
                  i.flaticon.social.twitter
                  a(href="") @DemocracyOS

            .contact-right.col-md-6
              iframe(height="417", allowTransparency="true", frameborder="0", scrolling="no", style="width:100%;border:none", src="http://mzeen.wufoo.com/embed/s7x2p7/")


      footer.site-footer 
        .container
          span.pull-left Copyright 
          .pull-right
        

