body,
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: 'Open Sans', sans-serif;
}
body {
  text-align: center;
  color: #4d4d4d;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: bold;
  color: #000;
}
header.site-header {
  background: #2f2f2f;
  border-top: 2px solid #ff0;
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
}
header.site-header a {
  color: #fff;
  text-transform: uppercase;
}
header.site-header nav.nav-left,
header.site-header nav.nav-right {
  display: inline-block;
}
header.site-header nav.nav-left a {
  margin-left: 50px;
}
header.site-header nav.nav-right a {
  margin-right: 50px;
}
header.site-header h1.logo {
  display: inline-block;
  margin: 0 50px;
}
header.site-header h1.logo a {
  width: 200px;
  display: inline-block;
}
header.site-header h1.logo a img {
  width: 100%;
}
section.splash {
  background: #000;
  padding: 200px 0;
  text-align: center;
  position: relative;
  background: #333 url("img/placeholder.jpg");
  background-size: cover;
}
section.splash img {
  width: auto;
  max-width: 100%;
  height: auto;
}
section.splash a.skip-to-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  padding: 20px;
}
section.about {
  position: relative;
  text-align: left;
  border-bottom: 2px solid #2f2f2f;
}
section.about .about-left,
section.about .about-right {
  width: 50%;
  display: inline-block;
}
section.about .about-left {
  padding: 100px 140px;
  text-align: center;
}
section.about .about-left p {
  margin: 20px 0;
}
section.about .about-right {
  background: #2f2f2f url("img/logo.png") center no-repeat;
  background-size: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
section.faq .question {
  max-width: 500px;
  margin: 50px auto;
}
section.profiles {
  padding-top: 50px;
}
section.profiles .profiles-users {
  margin-top: 30px;
  background: #333;
  padding: 100px 0 40px 0;
}
section.profiles .hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  display: inline-block;
}
section.profiles .hexagon2 {
  width: 150px;
  height: 300px;
  margin: -80px 0 0 8px;
}
section.profiles .hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
section.profiles .hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-image: url("https://si0.twimg.com/profile_images/2583335118/yts2np89ifncbi0j3vgm.jpeg");
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
section.profiles .second-line,
section.profiles .third-line {
  margin-top: -90px;
}
section.contact {
  text-align: left;
  background: #333;
  background-size: cover;
  color: #fff;
}
section.contact address {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
}
section.contact h3 {
  color: #fff;
}
section {
  padding: 40px 0;
}
footer.site-footer {
  background: #222;
  padding: 20px;
}
