/* Vars
-------------------------------------------------- */
$bg_grey = #2f2f2f;

.carousel-fade {
	.item {
		opacity: 0;
		-webkit-transition: 0.6s ease-in-out top;
		-moz-transition-property: opacity;
		-o-transition-property: opacity;
		transition-property: opacity;
		z-index: 8;
	}

	.active {
		opacity: 1;
	}

	.active.left,
	.active.right {
		left: 0;
		opacity: 0;
		z-index: 1;
	}

	.next.left,
	.prev.right {
		opacity: 1;
	}

  .carousel-control {
  		z-index: 2;
  }
}


/* General
-------------------------------------------------- */
html
	-webkit-font-smoothing: antialiased; 

body, h1,h2,h3,h4,h5,h5
	font-family: 'Open Sans', sans-serif;

body 
	// padding-top: 166px;
	text-align: center;
	color: #4d4d4d;

a 
	font-weight: bold;
	text-decoration: none
	&:hover 
		text-decoration: none

h1,h2,h3,h4,h5,h5
	font-weight: bold
	color: black;
h2 
	font-size: 36px;

.preload
	background: white url('img/logo.png') center no-repeat
	position: fixed
	top: 0;
	left: 0;
	right: 0
	bottom: 0
	z-index: 100
	display: none

.pulse
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 5000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

.vertical-line
	width: 3px;
	height: 30px;
	background: black;
	margin: auto;


body.not-loaded
	// overflow: hidden;
	.page
		// opacity: 0;


header.site-header
	
	border-top: 2px solid yellow;
	text-align: center;
	z-index: 1000;
	overflow: visible !important;
	background: transparent;

	.bg-grey
		background: $bg_grey;
	.container 
		position: relative;
		width: 100%;

		a 	
			color: #999;
			text-transform: uppercase
			&:hover, &.current
				color: white;
			span 
				color: white;
				font-size: 16px;

		.nav-left, .nav-right
			position: absolute;
			height: 126px;
			bottom: 0;
			top: 0;



		.nav-left 
			text-align: right;
			left: 0;
			right: 50%;
			padding-right: 150px;

			.kickstarter
				margin-right: 0;
				img 
					width: 120px;
					margin-top: -3px;
					height: 14px;
			a
				margin-right: 60px;

		.nav-right 
			right: 0;
			left: 50%;
			text-align: left
			padding-left: 150px;
			a
				margin-left: 60px;
				&.who-we-are
					margin-left: 0;

				&.twitter-header 
					background: url('img/hexagon.png') center;
					width: 30px;
					height: 36px;
					background-size: cover;
					display: inline-block;
					color: black;
					text-align: center
					line-height: 40px;

		h1.logo 
			width: 160px;
			text-align: center
			margin:  auto;
			position: relative;
			a 
				display: block
				img 
					width: 100%;



	&#site-header-primary
		.container
			h1.logo
				margin: 14px auto;
				span 
					display: none
			nav 
				line-height: 128px;
				.twitter-header
					margin-top: -20px;

		.triangle 
			display: none


	&.site-header-secondary
		position: fixed;
		left: 0;
		right: 0;
		padding-bottom: 16px;
		-o-transition:all 1s ease-out; 
		-moz-transition:all 1s ease-out;  
		-ms-transition:all 1s ease-out;   
		transition:all 1s ease-out;  
		.twitter-header
			margin-top: -11px !important;
		h1.logo 
			padding-top: 4px;
			img 
				display: none
			span 
				font-size: 20px;
				color: white

		.bg-grey
			height: 60px;
		nav 
			line-height: 60px;
			a 
				display: inline-block
		&.show-header
			top: 0px;

		&.hide-header
			top: -120px;

		.triangle 
			top: 55px;



.triangle
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;	
	border-top: 20px solid $bg_grey;
	margin: auto;

	z-index: 10;
	display: block



section.splash
	background: #000;
	text-align: center;
	background: #333;
	position: relative;

	.triangle-container
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000000;

	.slide, .slide-inn
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		.slide-item
			padding: 30px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 50px;
			opacity: 0;
			left: 0;
			background: url('img/slideshow/ChangeTT-00.jpg') center;
			background-size: cover;
			&.active 
				opacity:1;
			&.slide-item-2
				background-image: url('img/slideshow/ChangeTT-01.jpg');
			&.slide-item-3
				background-image: url('img/slideshow/ChangeTT-03.jpg');
			&.slide-item-4
				background-image: url('img/slideshow/ChangeTT-04.jpg');
			&.slide-item-5
				background-image: url('img/slideshow/ChangeTT-05.jpg');
			&.slide-item-6
				background-image: url('img/slideshow/ChangeTT-06.jpg');
			&.slide-item-7
				background-image: url('img/slideshow/ChangeTT-07.jpg');
			&.slide-item-8
				background-image: url('img/slideshow/ChangeTT-08.jpg');
			&.slide-item-9
				background-image: url('img/slideshow/ChangeTT-09.jpg');
			&.slide-item-10
				background-image: url('img/slideshow/ChangeTT-10.jpg');




	a.skip-to-content
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #333;
		padding: 10px;
		text-align: center
		z-index: 100;
		i 
			background: white url('img/icon-arrow-down.png') center  12px no-repeat
			display: block
			width: 30px;
			margin: auto;
			height: 30px;
			border-radius: 100px;



section.about
	position: relative; 
	text-align: left;
	border-bottom: 2px solid #2f2f2f;

	.about-left, .about-right
		width: 50%;
		display: inline-block

	.about-left 
		padding: 50px 50px;
		text-align: center
		p 
			margin: 20px 0;

		.kickstarter-link
			font-weight: bold;
			color: black;
			margin: 50px auto 0 auto;
			display: block
			width: 100px;
			text-align: center;
			span 
				display: block
			.arrow
				background: $bg_grey;
				width: 30px;
				height: 30px;
				margin: 10px auto;
				display: block
				border-radius: 100px;
				line-height: 30px;
				text-align: center
				img 
					width: auto;
					max-width: 100%;
					height: auto;
					border-radius: 100px;
					margin-left: 4px;

	.about-right
		background: #2f2f2f url('img/logo.png') center no-repeat;
		background-size: 50%;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;

section.faq 
	.question 
		max-width: 500px;
		margin: auto;
		margin-bottom: 30px;
		h2
			margin: 5px auto 10px auto;
			font-size: 34px;
		p 
			margin-top: 30px;

	.vertical-line
		width: 2px;
		height: 20px;


section.profiles
	padding-top: 50px;

	h4 
		font-weight: 100;
		margin: 20px 0; 

	.profiles-users 
		margin-top: 50px;
		background: #333;
		padding: 100px 0 40px 0;


	.hexagon
		overflow: hidden;
		visibility: hidden;
		-webkit-transform: rotate(120deg);
		-moz-transform: rotate(120deg);
		-o-transform: rotate(120deg);
		transform: rotate(120deg);
		cursor: pointer;
		display: inline-block


	.hexagon2
		width: 150px;
		height: 300px;
		margin: -80px 0 0 6px;
		.hexagon-hover 
			opacity: 0
			span 
				line-height: 300px;
		&:hover 
			.hexagon-hover
				background: rgba(0,0,0,.4)
				opacity: 1;
				span 
					display: block


	.hexagon-in1
		overflow: hidden;
		width: 100%;
		height: 100%;
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);

	.hexagon-in2 
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 120%;
		visibility: visible;
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	
	.second-line, .third-line
		margin-top: -90px;

section.contact 
	text-align: left;
	background: #333 ;
	background-size: cover;
	color: white;
	padding-bottom: 40px;
	address
		font-size: 30px;
		font-weight: bold;
		margin-top: 40px;
		p 
			margin-bottom: 20px;
			a 
				color: white;
			i 
				background: url('img/hexagon.png') center no-repeat
				display: inline-block
				background-size: 100%;
				width: 38px;
				height: 44px;
				margin-right: 10px;
				color: black;
				text-align: center
				font-size: 16px;
				line-height: 48px;
				color: #794a92;
	h2 
		color: white;
		margin-bottom: 30px;
		margin-top: 0;
		font-size: 40px;
		text-transform: uppercase

	input.text, textarea
		padding: 2%;
		width: 96%;
		border: 0;
		color: white;
		background-color: rgba(235,80,189, .4)

	textarea
		height: 140px;

	.btn 
		background-color: white;

.section
	padding: 40px 0;




footer.site-footer
	background: #222;
	padding: 20px 0 18px 0;
	span 
		line-height: 22px;


	.share-links 
		iframe 
			margin-right: 20px;