/* Vars
-------------------------------------------------- */
$bg_grey = #2f2f2f;



@-webkit-keyframes pulse_animation 
	0% { -webkit-transform: opacity(.2); }
	30% { -webkit-transform: opacity(.5); }
	40% { -webkit-transform: opacity(.5); }
	50% { -webkit-transform:  opacity(.5); }
	60% { -webkit-transform:  opacity(.5); }
	70% { -webkit-transform:  opacity(.5); }
	80% { -webkit-transform:  opacity(.5); }
	100% { -webkit-transform:  opacity(1); }

/* General
-------------------------------------------------- */
html
	-webkit-font-smoothing: antialiased; 

body, h1,h2,h3,h4,h5,h5
	font-family: 'Open Sans', sans-serif;

body 
	// padding-top: 166px;
	text-align: center;
	color: #4d4d4d;

a 
	font-weight: bold;
	text-decoration: none
	&:hover 
		text-decoration: none

h1,h2,h3,h4,h5,h5
	font-weight: bold
	color: black;


.preload
	background: white url('img/logo.png') center no-repeat
	position: fixed
	top: 0;
	left: 0;
	right: 0
	bottom: 0
	z-index: 100
	display: none

.pulse
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 5000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;


body.not-loaded
	// overflow: hidden;
	.page
		// opacity: 0;


header.site-header
	background: $bg_grey;
	border-top: 2px solid yellow;
	text-align: center;
	z-index: 1000;
	&#site-header-primary
		.container
			padding: 30px 0;
			h1.logo

				span 
					display: none
	&.site-header-secondary
		position: fixed;
		top: -70px;
		left: 0;
		right: 0;
		padding-bottom: 16px;
		-o-transition:all 1s ease-out; 
		-moz-transition:all 1s ease-out;  
		-ms-transition:all 1s ease-out;   
		transition:all 1s ease-out;  

		h1.logo 
			img 
				display: none
			span 
				font-size: 20px;
				color: white
		&.show-header
			top: 0px;

		&.hide-header
			top: -70px;
	a 	
		color: #999;
		text-transform: uppercase
		&:hover, &.current
			color: white;
		span 
			color: white;
			font-size: 16px;


	nav.nav-left, nav.nav-right
		display: inline-block

	nav.nav-left 
		.kickstarter
			display: inline-block
			img 
				width: 120px;
				margin-top: -4px;
		a
			margin-left: 60px;

	nav.nav-right a
		margin-right: 60px;

	h1.logo 
		display: inline-block;
		margin: 0 60px;
		a 
			width: 170px;

			display: inline-block
			img 
				width: 100%;
section.splash
	background: #000;
	padding: 200px 0;
	text-align: center;
	position: relative;
	background: #333;
	// background: red;
	background-size: cover;
	img 
		width: auto
		max-width: 100%;
		height: auto;

	a.skip-to-content
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: #333;
		padding: 20px;
		text-align: center
		i 
			background: white url('img/icon-arrow-down.png') center  14px no-repeat
			display: block
			width: 34px;
			margin: auto;
			height: 34px;
			border-radius: 100px;



section.about
	position: relative; 
	text-align: left;
	border-bottom: 2px solid #2f2f2f;

	.about-left, .about-right
		width: 50%;
		display: inline-block

	.about-left 
		padding: 100px 140px;
		text-align: center
		p 
			margin: 20px 0;

		.kickstarter-link
			font-weight: bold;
			color: black;
			margin: 100px auto 0 auto;
			display: block
			width: 100px;
			text-align: center;
			span 
				display: block
			.arrow
				background: $bg_grey;
				width: 30px;
				height: 30px;
				margin: 10px auto;
				display: block
				border-radius: 100px;
				line-height: 30px;
				text-align: center
				img 
					width: auto;
					max-width: 100%;
					height: auto;
					border-radius: 100px;
					margin-left: 4px;

	.about-right
		background: #2f2f2f url('img/logo.png') center no-repeat;
		background-size: 50%;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;

section.faq 
	.question 
		max-width: 500px;
		margin: 50px auto;


section.profiles
	padding-top: 50px;
	
	.profiles-users 
		margin-top: 50px;
		background: #333;
		padding: 100px 0 40px 0;


	.hexagon
		overflow: hidden;
		visibility: hidden;
		-webkit-transform: rotate(120deg);
		-moz-transform: rotate(120deg);
		-o-transform: rotate(120deg);
		transform: rotate(120deg);
		cursor: pointer;
		display: inline-block


	.hexagon2 {
		width: 150px;
		height: 300px;
		margin: -80px 0 0 6px;
	}


	.hexagon-in1 {
		overflow: hidden;
		width: 100%;
		height: 100%;
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	}

	.hexagon-in2 
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 120%;
		background-image: url(https://si0.twimg.com/profile_images/2583335118/yts2np89ifncbi0j3vgm.jpeg);
		visibility: visible;
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
	
	.second-line, .third-line
		margin-top: -90px;

section.contact 
	text-align: left;
	background: #333 ;
	background-size: cover;
	color: white;
	address
		font-size: 30px;
		font-weight: bold;
		margin-top: 40px;
		p 
			margin-bottom: 20px;
			a 
				color: white;
			i 
				background: url('img/hexagon.png') center no-repeat
				display: inline-block
				background-size: 100%;
				width: 38px;
				height: 42px;
				margin-right: 10px;
				color: black;
				text-align: center
				font-size: 22px;
				line-height: 44px;
	h2 
		color: white;
		margin-bottom: 30px;

	input.text, textarea
		padding: 2%;
		width: 96%;
		border: 0;
		color: white;
		background-color: rgba(235,80,189, .4)

	textarea
		height: 140px;

	.btn 
		background-color: white;

section
	padding: 40px 0;

footer.site-footer
	background: #222;
	padding: 20px 0 18px 0;
	span 
		line-height: 22px;


	.share-links 
		iframe 
			margin-right: 20px;