/* Vars
-------------------------------------------------- */
.carousel-fade .item {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  z-index: 8;
}
.carousel-fade .active {
  opacity: 1;
}
.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .next.left,
.carousel-fade .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* General
-------------------------------------------------- */
html {
  -webkit-font-smoothing: antialiased;
}
body,
h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: 'Open Sans', sans-serif;
}
body {
  text-align: center;
  color: #4d4d4d;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h5 {
  font-weight: bold;
  color: #000;
}
h2 {
  font-size: 36px;
}
.preload {
  background: #fff url("img/logo.png") center no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}
.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 5000ms;
  -webkit-transform-origin: 70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.vertical-line {
  width: 3px;
  height: 30px;
  background: #000;
  margin: auto;
}
.section {
  min-width: 1200px !important;
}
header.site-header {
  border-top: 2px solid #ff0;
  text-align: center;
  z-index: 1000;
  overflow: visible !important;
  background: transparent;
}
header.site-header .bg-grey {
  background: #2f2f2f;
}
header.site-header .container {
  position: relative;
  width: 100%;
}
header.site-header .container a {
  color: #999;
  text-transform: uppercase;
}
header.site-header .container a:hover,
header.site-header .container a.current {
  color: #fff;
}
header.site-header .container a span {
  color: #fff;
  font-size: 16px;
}
header.site-header .container .nav-left,
header.site-header .container .nav-right {
  position: absolute;
  height: 126px;
  bottom: 0;
  top: 0;
}
header.site-header .container .nav-left {
  text-align: right;
  left: 0;
  right: 50%;
  padding-right: 150px;
}
header.site-header .container .nav-left .kickstarter {
  margin-right: 0;
}
header.site-header .container .nav-left .kickstarter img {
  width: 120px;
  margin-top: -3px;
  height: 14px;
}
header.site-header .container .nav-left a {
  margin-right: 60px;
}
header.site-header .container .nav-right {
  right: 0;
  left: 50%;
  text-align: left;
  padding-left: 150px;
}
header.site-header .container .nav-right a {
  margin-left: 60px;
}
header.site-header .container .nav-right a.who-we-are {
  margin-left: 0;
}
header.site-header .container .nav-right a.twitter-header {
  background: url("img/hexagon.png") center;
  width: 30px;
  height: 36px;
  background-size: cover;
  display: inline-block;
  color: #000;
  text-align: center;
  line-height: 40px;
}
header.site-header .container h1.logo {
  width: 160px;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 1000;
}
header.site-header .container h1.logo a {
  display: block;
}
header.site-header .container h1.logo a img {
  width: 100%;
}
header.site-header#site-header-primary .container h1.logo {
  margin: 14px auto;
}
header.site-header#site-header-primary .container h1.logo span {
  display: none;
}
header.site-header#site-header-primary .container nav {
  line-height: 128px;
}
header.site-header#site-header-primary .container nav .twitter-header {
  margin-top: -20px;
}
header.site-header#site-header-primary .triangle {
  display: none;
}
header.site-header.site-header-secondary {
  position: fixed;
  left: 0;
  right: 0;
  padding-bottom: 16px;
  -o-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
header.site-header.site-header-secondary .twitter-header {
  margin-top: -11px !important;
}
header.site-header.site-header-secondary h1.logo {
  padding-top: 4px;
}
header.site-header.site-header-secondary h1.logo img {
  display: none;
}
header.site-header.site-header-secondary h1.logo span {
  font-size: 20px;
  color: #fff;
}
header.site-header.site-header-secondary .bg-grey {
  height: 60px;
}
header.site-header.site-header-secondary nav {
  line-height: 60px;
}
header.site-header.site-header-secondary nav a {
  display: inline-block;
}
header.site-header.site-header-secondary.show-header {
  top: 0px;
}
header.site-header.site-header-secondary.hide-header {
  top: -120px;
}
header.site-header.site-header-secondary .triangle {
  top: 55px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #2f2f2f;
  margin: auto;
  z-index: 10;
  display: block;
}
section.splash {
  background: #000;
  text-align: center;
  background: #333;
  position: relative;
}
section.splash .triangle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
}
section.splash .slide,
section.splash .slide-inn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
section.splash .slide .slide-item,
section.splash .slide-inn .slide-item {
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px;
  opacity: 0;
  left: 0;
  background: url("img/slideshow/ChangeTT-00.jpg") center;
  background-size: cover;
}
section.splash .slide .slide-item.active,
section.splash .slide-inn .slide-item.active {
  opacity: 1;
}
section.splash .slide .slide-item.slide-item-2,
section.splash .slide-inn .slide-item.slide-item-2 {
  background-image: url("img/slideshow/ChangeTT-01.jpg");
}
section.splash .slide .slide-item.slide-item-3,
section.splash .slide-inn .slide-item.slide-item-3 {
  background-image: url("img/slideshow/ChangeTT-03.jpg");
}
section.splash .slide .slide-item.slide-item-4,
section.splash .slide-inn .slide-item.slide-item-4 {
  background-image: url("img/slideshow/ChangeTT-04.jpg");
}
section.splash .slide .slide-item.slide-item-5,
section.splash .slide-inn .slide-item.slide-item-5 {
  background-image: url("img/slideshow/ChangeTT-05.jpg");
}
section.splash .slide .slide-item.slide-item-6,
section.splash .slide-inn .slide-item.slide-item-6 {
  background-image: url("img/slideshow/ChangeTT-06.jpg");
}
section.splash .slide .slide-item.slide-item-7,
section.splash .slide-inn .slide-item.slide-item-7 {
  background-image: url("img/slideshow/ChangeTT-07.jpg");
}
section.splash .slide .slide-item.slide-item-8,
section.splash .slide-inn .slide-item.slide-item-8 {
  background-image: url("img/slideshow/ChangeTT-08.jpg");
}
section.splash .slide .slide-item.slide-item-9,
section.splash .slide-inn .slide-item.slide-item-9 {
  background-image: url("img/slideshow/ChangeTT-09.jpg");
}
section.splash .slide .slide-item.slide-item-10,
section.splash .slide-inn .slide-item.slide-item-10 {
  background-image: url("img/slideshow/ChangeTT-10.jpg");
}
section.splash a.skip-to-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  padding: 10px;
  text-align: center;
  z-index: 100;
}
section.splash a.skip-to-content i {
  background: #fff url("img/icon-arrow-down.png") center 12px no-repeat;
  display: block;
  width: 30px;
  margin: auto;
  height: 30px;
  border-radius: 100px;
}
section.about {
  position: relative;
  text-align: left;
  border-bottom: 2px solid #2f2f2f;
}
section.about .about-left,
section.about .about-right {
  width: 50%;
  display: inline-block;
}
section.about .about-left {
  padding: 50px 50px;
  text-align: center;
}
section.about .about-left p {
  margin: 20px 0;
}
section.about .about-left .kickstarter-link {
  font-weight: bold;
  color: #000;
  margin: 50px auto 0 auto;
  display: block;
  width: 100px;
  text-align: center;
}
section.about .about-left .kickstarter-link span {
  display: block;
}
section.about .about-left .kickstarter-link .arrow {
  background: #2f2f2f;
  width: 30px;
  height: 30px;
  margin: 10px auto;
  display: block;
  border-radius: 100px;
  line-height: 30px;
  text-align: center;
}
section.about .about-left .kickstarter-link .arrow img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 100px;
  margin-left: 4px;
}
section.about .about-right {
  background: #2f2f2f url("img/logo.png") center no-repeat;
  background-size: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
section.faq .question {
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
}
section.faq .question h2 {
  margin: 5px auto 10px auto;
  font-size: 34px;
}
section.faq .question p {
  margin-top: 30px;
}
section.faq .vertical-line {
  width: 2px;
  height: 20px;
}
section.profiles {
  padding-top: 50px;
}
section.profiles h4 {
  font-weight: 100;
  margin: 20px 0;
}
section.profiles .profiles-users {
  margin-top: 50px;
  background: #333;
  padding: 100px 0 40px 0;
}
section.profiles .hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
  display: inline-block;
}
section.profiles .hexagon2 {
  width: 150px;
  height: 300px;
  margin: -80px 0 0 6px;
  position: relative;
}
section.profiles .hexagon2 .hexagon-hover {
  display: block;
  opacity: 0;
  position: absolute;
  z-index: 1000000;
}
section.profiles .hexagon2 .hexagon-hover .hexagon-in2 {
  background: rgba(0,0,0,0.8);
}
section.profiles .hexagon2 .hexagon-hover span {
  color: #fff;
}
section.profiles .hexagon2 .hexagon-hover span:first-child {
  display: block;
  padding-top: 130px;
}
section.profiles .hexagon2 .hexagon-hover:hover {
  z-index: 10000;
  background: rgba(0,0,0,0.4);
  opacity: 1;
}
section.profiles .hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
section.profiles .hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 120%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
section.profiles .second-line,
section.profiles .third-line {
  margin-top: -90px;
}
section.contact {
  text-align: left;
  background: #333;
  background-size: cover;
  color: #fff;
  padding-bottom: 40px;
}
section.contact address {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}
section.contact address p {
  margin-bottom: 20px;
}
section.contact address p a {
  color: #fff;
}
section.contact address p i {
  background: url("img/hexagon.png") center no-repeat;
  display: inline-block;
  background-size: 100%;
  width: 38px;
  height: 44px;
  margin-right: 10px;
  color: #000;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  color: #794a92;
}
section.contact h2 {
  color: #fff;
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 40px;
  text-transform: uppercase;
}
section.contact input.text,
section.contact textarea {
  padding: 2%;
  width: 96%;
  border: 0;
  color: #fff;
  background-color: rgba(235,80,189,0.4);
}
section.contact textarea {
  height: 140px;
}
section.contact .btn {
  background-color: #fff;
}
.section {
  padding: 40px 0;
}
section.kickstarter-slide {
  background-color: #85cc00;
  padding: 100px 0;
  position: relative;
  color: #fff;
}
section.kickstarter-slide .logo-big {
  margin-bottom: 30px;
}
section.kickstarter-slide p {
  font-size: 18px;
  max-width: 670px;
  margin: auto;
  margin-top: 20px;
}
section.kickstarter-slide .small-ks {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
section.kickstarter-slide form input {
  padding: 10px 20px;
  border: 0;
}
section.kickstarter-slide form input[type="text"] {
  width: 300px;
}
section.kickstarter-slide form .button-submit {
  margin-left: 10px;
  background: #333;
  color: #fff;
  font-weight: bold;
}
footer.site-footer {
  background: #222;
  padding: 20px 0 18px 0;
}
footer.site-footer span {
  line-height: 22px;
}
footer.site-footer .share-links iframe {
  margin-right: 20px;
}
